{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class='col-sm-6 col-sm-offset-0 text-left'>
    <h2>{{ group_name }}</h2>
    <hr/>
    <div class="list-group">
        <h3>Студенты</h3>
        {% for student in students %}
		<a href="{% url 'students' %}/{{ student.pk }}" class="list-group-item list-group-item-action">{{ student.full_name }}</a>
        {% endfor %}
	</div>
    {% if permissions %}
    <a href="{% url 'groups_delete' group_id %}" class="btn btn-lg btn-primary">Удалить группу</a>
    {% endif%}
    <br>
    <br>
    <a href="{% url 'group_journal' group_id %}" class="btn btn-lg btn-primary">Журнал группы</a>
</div>

{% endblock %}