{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class='col-sm-7 col-sm-offset-0 text-left'>
    {% if type == 'S' %}
    <h2>Студенты</h2>
    <hr/>
    <div class="list-group">
        {% for profile in object_list %}
		<a href="{% url 'profiles:students_detail' profile.pk %}" class="list-group-item list-group-item-action">{{ profile.full_name }}</a>
        {% endfor %}
	</div>
    {% else %}
    <h2>Учителя</h2>
    <hr/>
    <div class="list-group">
    {% for profile in object_list %}
		<a href="{% url 'profiles:teachers_detail' profile.pk %}" class="list-group-item list-group-item-action">{{ profile.full_name }}</a>
    {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'profiles:register' %}" class="btn btn-lg btn-primary">Добавить нового пользователя</a>


</div>

{% endblock %}