{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class='col-sm-6 col-sm-offset-0 text-left'>
    {% if type == 'S' %}
    <h2>Ученики</h2>
    {% else %}
    <h2>Учителя</h2>
    {% endif %}
    <hr/>
    <div class="list-group">
        {% for profile in object_list %}
		<a href="{{ profile.pk }}" class="list-group-item list-group-item-action">{{ profile.full_name }}</a>
        {% endfor %}
	</div>
    {% if type == 'S' %}
    <a href="http://google.com" class="btn btn-lg btn-primary">Добавить нового ученика</a>
    {% else %}
    <a href="http://google.com" class="btn btn-lg btn-primary">Добавить нового учителя</a>
    {% endif %}


</div>

{% endblock %}