{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class='col-sm-6 col-sm-offset-0 text-left'>
    <h2>{{ object.name }}</h2>
    <hr/>
    <div class="list-group">
        <h3>Уроки</h3>
        {% for lesson in lessons %}
		<a href="{% url 'courses:lesson_detail' lesson.pk %}" class="list-group-item list-group-item-action">{{ lesson.name }}</a>
        {% endfor %}
	</div>
	<a href="{% url 'courses:add_lesson' %}" class="btn btn-lg btn-primary">Добавить новый урок</a>

</div>

{% endblock %}