{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<style>
    th, td {
	text-align: center;
	vertical-align: middle;
}



</style>

<div class='col-sm-7 col-sm-offset-0 text-left'>
    <h2>{{ object.name }}</h2>
    <hr/>
    <p>{{ object.description }}</p>
    <p><b>Домашнее задание:</b></p>
    <p>{{ object.homework }}</p>
    <p><b>Дата:</b> {{ object.date|date }}</p>
    <p><b>Тип урока:</b> {{ object.get_type_display }}</p>
    <hr/>
    <p><b>Курс:</b> <a href="{% url 'courses:course_detail' object.course.pk %}">{{ object.course.name }}</a></p>
    <p><b>Учитель:</b> <a href="{% url 'profiles:teachers_detail' object.teacher.pk %}">{{ object.teacher.full_name }}</a></p>
    <p><b>Группа:</b> <a href="{% url 'profiles:groups_detail' object.group.pk %}">{{ object.group.name }}</a></p>

    <hr/>

    <div class="panel panel-info">
        <div class="panel-heading">Результаты урока</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ФИО ученика</th>
                    <th>Оценки</th>
                </tr>
                {% for student_lesson in student_lessons %}
                <tr>
                    <td>{{ student_lesson.student.full_name }}</td>
                    {% if student_lesson.precense %}
                    <td class="bg-success">{{ student_lesson.mark }}</td>
                    {% else %}
                    <td class="bg-danger">{{ student_lesson.reason_for_abcense }}</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}