{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<style>
    td {
	text-align: center;
	vertical-align: middle;
	border: #505050 solid 1px !important;
}

td.red_white {
	background-color: #F78181;
	color: #505050;
}

td.green_red {
	background-color: #58FA58;
	color: #505050;
}
</style>

<div class='col-sm-6 col-sm-offset-0 text-left'>
    <h2>{{ object.name }}</h2>
    <hr/>
    <p>{{ object.description }}</p>
    <p><b>Домашнее задание:</b></p> <p>{{ object.homework }}</p>
    <p><b>Дата:</b> {{ object.date|date }}</p>
    <p><b>Тип урока:</b> {{ object.get_type_display }}</p>
    <hr/>
    <p><b>Курс:</b> <a href="{% url 'course_detail' object.course.pk %}">{{ object.course.name }}</a></p>
    <p><b>Учитель:</b> <a href="{% url 'teachers' object.teacher.pk %}">{{ object.teacher.full_name }}</a></p>
    <p><b>Группа:</b> <a href="{% url 'groups_detail' object.group.pk %}">{{ object.group.name }}</a></p>

    <hr/>

    <h3>Результаты урока</h3>

    <div class="col-sm-0 col-sm-offset-0 text-left">
	    <table class="table table-bordered">
            <tr>
			    <td>ФИО ученика</td>
			    <td>{{ object.date }}</td>
		    </tr>
            {% for student_lesson in student_lessons %}
            <tr>
                <td>{{ student_lesson.student.full_name }}</td>
                {% if student_lesson.precense %}
                    <td class="green_red">{{ student_lesson.mark }}</td>
                {% else %}
                    <td class="red_white">{{ student_lesson.reason_for_abcense }}</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}